* {
    box-sizing: border-box;
}


body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 37px;
    line-height: 43px;
    color: #FFFFFF;
}

p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    display: flex;
    align-items: center;
    color: #000000;


}



.container {
    padding-top: 70px;
    background-color: #FAFAFA;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    max-width: 1100px;
}


header {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 70px;
    background-color: #EC362D;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.userQuizzEmpity {
    width: 1050px;
    height: 181px;
    margin: 80px 0;
    border: 1px dashed #D5D5D5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.userQuizzEmpity div {
    width: 250px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.userQuizzEmpity p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #B9B9B9;
}

.userQuizzEmpity button {
    width: 151px;
    height: 40px;
    margin-top: 10px;
    background: #FAFAFA;
    border: 1px dashed #EC362D;
    box-sizing: border-box;
    border-radius: 50px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #EC362D;
}





.userQuizz {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}

.addUserQuizz {
    display: flex;
    align-items: center;
}


.quizzes {
    margin-top: 14px;

}

.quizList img {
    height: 270px;
    width: 500px;
    border-radius: 5px;
    margin: 46px 0 5px 0;
}

.quizList p {
    position: relative;
    bottom: 50px;
    left: 23px;
    color: #FFFFFF;
    font-weight: 400;

}


.userQuizz p,
.otherQuizz p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

.userQuizz ion-icon {
    font-size: 30px;
    color: #EC362D;
    margin-left: 20px;
}

.userQuizz .quizzes {
    margin-bottom: 15px;
}

.userQuizz .quizzes,
.otherQuizz .quizzes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.userQuizz .quizzes .quizz,
.otherQuizz .quizzes .quizz {
    position: relative;
    width: 340px;
    height: 180px;
    margin: 12px;

}

.userQuizz .quizzes .quizz img,
.otherQuizz .quizzes .quizz img {
    border-radius: 5px;
    width: 340px;
    height: 180px;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

.userQuizz .quizzes .quizz p,
.otherQuizz .quizzes .quizz p {
    position: absolute;
    z-index: 2;
    left: 16px;
    bottom: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    word-break: break-word;
    text-align: start;
}

.userQuizz .quizzes .quizz .degrade,
.otherQuizz .quizzes .quizz .degrade {
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: 1;
    width: 340px;
    height: 180px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.05), rgba(0, 0, 0, 1));
    border-radius: 5px;
}

.quizzTheme,
.quizzQuestions,
.quizzLevels,
.quizzCreatedSucess {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #FAFAFA;
}

.quizzTheme .leading,
.quizzQuestions .leading,
.quizzLevels .leading,
.quizzCreatedSucess .leading {
    height: 23px;
    margin-top: 60px;
}

.quizzTheme .inputs,
.quizzQuestions .inputs,
.quizzLevels .inputs,
.quizzLevels .addLevelButton {
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 27px;
    background: #FFFFFF;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.quizzQuestions .option,
.quizzLevels .option {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quizzTheme input,
.quizzQuestions input,
.quizzLevels input {
    width: 564px;
    height: 46px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 5px;
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    color: #000000;


}


.quizzTheme button,
.quizzQuestions button,
.quizzCreatedSucess button,
.quizzLevels button {

    height: 44px;
    padding: 0px 40px 0 40px;
    background-color: #EC362D;
    border-radius: 15px;
    margin: 40px;
    color: #FFF5F4;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    border: none
}

.quizzCreatedSucess>.buttonBackToHome {
    background-color: transparent;
    color: #818181;
    border: none;
    margin-top: -39px;
}

.quizzLevels img {
    size: 10px
}

.quizzCreatedSucess img {
    height: 270px;
    width: 500px;
    border-radius: 5px;
    margin: 46px 0 5px 0;
}

.imgQuizzCreatedSucess p {
    position: relative;
    bottom: 50px;
    left: 23px;
    color: #FFFFFF;
    font-weight: 400;
}


.quizzQuestions .question,
.answerCorrect,
.answersIncorrect,
.level {
    margin: 10px;
}

.answersIncorrect div {
    margin-bottom: 32px;
}

.hide {
    display: none;
}



/*


=== MOBILE CONFIGS -1100PX ===

*/
@media (max-width: 1100px) {
    .userQuizzEmpity {
        width: 340px;
        height: 181px;

    }

    .addUserQuizz {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center
    }


}