body{
    font-family: 'Roboto', sans-serif;
}

h1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 37px;
    line-height: 43px;
    color: #FFFFFF;


}

p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    display: flex;
    align-items: center;
    color: #000000;


}

.container{
    background-color: #FAFAFA;
}

.header{
    width: 100%;
    height: 70px;
    background-color: #EC362D;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quizzTheme, .quizzQuestions{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #FAFAFA;
}

.quizzTheme .leading, .quizzQuestions .leading{
    height: 23px;
    margin-top: 60px;
}

.quizzTheme .inputs, .quizzQuestions .inputs{
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 27px;
    background: #FFFFFF;
    padding: 10px;

}

.quizzTheme input, .quizzQuestions input{
    width: 564px;
    height: 46px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 5px;
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    color: #BABABA;


}

.quizzTheme button, .quizzQuestions button{
    width: 370px;
    height: 54px;
    background-color: #EC362D;
    border-radius: 15px;
    margin: 40px;
    color: #FFF5F4;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.quizzQuestions .question, .answerCorrect, .answersIncorrect{
    margin: 10px;
}

.answersIncorrect div{
    margin: 16px;
}